.box-header, .fridge-header {
  font-family: 'Abril Fatface', cursive;
  font-size: 30px;
}

nav a:hover, nav a.active {
  color: white;
  background-color: black;
  text-decoration: none;
  padding: 10px;
}

nav a {
  display: inline-block;
  margin: 1em;
  font-size: 20px;
  text-decoration: none;
  justify-content: center;
  color: black;
  padding: 10px;
}

nav form {
  display: inline-block;
  margin: 1em;
  font-size: 20px;
  text-decoration: none;
  justify-content: center;
  color: black;
  padding: 10px;
}

NavLink:active {
  color: white;
  background-color: black;
  text-decoration: none;
  padding: 10px;
}


form div {
  margin: 1em;
  display: inline-block;
}

.draggable-child {
  position: fixed;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 8px;
  box-shadow: 2px 2px;
  font-family: 'Ariel', sans-serif;
}

.box-page-draggable-child {
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 8px;
  box-shadow: 2px 2px;
  font-family: 'Ariel', sans-serif;
  width: 75px;
}

.footer {
  height: 150px;
  bottom: 0%;
  width: 100%;
  opacity: 1;
}

.drop-target {
  height: 30px;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  /* display: flex; */
  justify-content: center;
  padding-top: 10px;
  font-family: 'Ariel', sans-serif;
}

.dnd-item {
  /* width: 100px; */
  font-size: 18px;
  background-color: white;
  /* border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 8px;
  box-shadow: 2px 2px; */
  font-family: 'Ariel', sans-serif;
}

.main-header {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 80px;
  text-align: center;
  font-family: 'Abril Fatface', cursive;
  /* font-family: 'Fredericka the Great', cursive; */
  /* font-family: 'Londrina Shadow', cursive; */
  /* font-family: 'Jacques Francois Shadow', cursive; */
  /* font-family: 'Londrina Sketch', cursive; */
}

.box-fridge-wrapper {
  display: flex;
  flex-direction: row;
  width: 500px;
  margin: 0 auto;
}

.in-the-box {
  padding: 50px 100px 50px 50px;
}

.on-the-fridge {
  padding: 50px;
}

.on-the-fridge, .in-the-box {
  flex-grow: 1;
  overflow-y: auto;
  height: 500px;
}

nav {
  display: flex;
  flex-direction: row;
  width: 500px;
  margin: 0 auto;
  justify-content: center;
}

.add-word {
  background-color: yellow;
  display: flex;
  justify-content: center;
}
