body {
  /* font-family: 'Supermercado One', cursive; */
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.draggable-child {
  position: fixed;
  background-color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  padding: 8px;
  box-shadow: 2px 2px;
  font-family: 'Ariel', sans-serif;
}

.footer {
  height: 150px;
  position: fixed;
  bottom: 0%;
  width: 100%;
  background-color: red;
  opacity: 1;
}
